body {
	margin: 0px;
}
.head_div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 80px;
	padding-right: 80px;
	height: 65px;
	border-bottom: 1px solid #e0e0e0;
}
.logo_button {
	width: 35px;
	height: 35px;
	background: #000000;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
}
.login_box {
	width: 175px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #1fad30;
	font-size: 13px;
	font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
.get_started_box {
	border: 1px solid #1fad30;
	border-radius: 4px;
	height: 36px;
	width: 113px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navigation_box {
	max-width: 550px;
	height: 54px;
	margin-left: 80px;
	margin-right: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
.nav_button {
	color: #A0A0A0;
	margin-left: 34px;
}
.main_content {
	display: flex;
	justify-content: center;
	font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif
}
.main_column {
	margin: 20px;
	max-width: 680px;
}
.headline {
	font-size: 42px;
	margin-bottom: 20px;
}
.text {
	font-size: 23px;
	margin-top:40px;
	color: #404040;
}
.author_box {
	display: flex;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: space-between;
	font-size: 13px;
	font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
.author_info {
	display: flex;
}
.avatar {
	margin-right: 10px;
}
.name_follow {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.name {
	margin-right: 7px;
}
.follow {
	border: 1px solid #000000;
	border-radius: 4px;
	padding-right: 10px;
	padding-left: 10px;
}
.date {
	color: #707070;
}
.share_buttons {
	position: relative;
	right: 40px;
}
.logo {
	margin: 5px;
	height: 20px;
	width: 20px;
}
a {
	text-decoration: none;
	color: inherit;
}
.author_box_link:hover {
	text-decoration: underline;
}
.author_box_link:active {
	text-decoration: underline;
}
.nav_link:active {
	color: #404040;
}
.nav_link:hover {
	color: #404040;
}
.login_link:active {
	color: #0f6d20;
}
.login_link:hover {
	color: #0f6d20;
}
.text_link {
	text-decoration: underline;
}