body {
    margin: 0px;
    background-color: #e7e7e7;
    font-family: Calibri, sans-serif;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.header {
    background-color: #ffffff;
    box-shadow: 0 0 5px #00000063;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
@media screen and (min-device-width: 1000px) {
    .header {
        margin-top: 20px;
        height: 80px;
        padding-left: 60px;
        justify-content: space-between;
    }
}
@media screen and (max-device-width: 1000px) {
    .header {
        height: 120px;
        padding-left: 20px;
        justify-content: center;
    }
}

@media screen and (max-device-width: 1000px) {
    .header>img {
        display: none;
    }
}

.header>div {
    display: flex;
    align-items: center;
}

.logo {
    color: #da5f1e;
    text-align: center;
}
@media screen and (min-device-width: 1000px) {
    .logo {
        font-size: 50px;
        padding-top: 5px;
        line-height: 36px;
    }
}
@media screen and (max-device-width: 1000px) {
    .logo {
        font-size: 70px;
        line-height: 50px;
    }
}

.titleLow {
    font-weight: bold;
}
@media screen and (min-device-width: 1000px) {
    .titleLow {
        font-size: 25px;
    }
}
@media screen and (max-device-width: 1000px) {
    .titleLow {
        font-size: 35px;
    }
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-device-width: 1000px) {
    .mainContent>div {
        max-width: 600px;
        width: 90%;
    }
}

@media screen and (max-device-width: 1000px) {
    .mainContent>div {
        width: 94%;
    }
}

.mainBlock {
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #00000031;
    color: #808080;
}
@media screen and (min-device-width: 1000px) {
    .mainBlock {
        font-size: 20px;
        padding: 15px;
    }
}
@media screen and (max-device-width: 1000px) {
    .mainBlock {
        font-size: 32px;
        padding: 30px;
    }
}

#blagTime>p {
    color: #000000;
    margin-bottom: 10px;
}
@media screen and (min-device-width: 1000px) {
    #blagTime>p {
        font-size: 25px;
    }
}
@media screen and (max-device-width: 1000px) {
    #blagTime>p {
        font-size: 38px;
    }
}

.clock {
    display: flex;
    align-items: center;
}

.clockImage {
    width: 50px;
    height: 50px;
}

.timeAndDate {
    padding-left: 10px;
    text-align: center;
}

#weatherBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-device-width: 1000px) {
    #weatherBox {
        line-height: 30px;
    }
}
@media screen and (max-device-width: 1000px) {
    #weatherBox {
        line-height: 50px;
    }
}

#tempBox {
    display: flex;
    align-items: center;
}

#temp {
    color: #000000;
}
@media screen and (min-device-width: 1000px) {
    #temp {
        font-size: 50px;
    }
}
@media screen and (max-device-width: 1000px) {
    #temp {
        font-size: 80px;
    }
}

#weatherBoxLeft {
    flex-grow: 1.5;
}

.weatherBoxRight {
    flex-grow: 3;
}

.weatherTable {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#otherLocations>p {
    margin-bottom: 15px;
    color: #000000;
}
@media screen and (min-device-width: 1000px) {
    #otherLocations>p {
        font-size: 25px;
    }
} 
@media screen and (max-device-width: 1000px) {
    #otherLocations>p {
        font-size: 40px;
    }
}

#regionTable {
    width: 95%;
}
@media screen and (min-device-width: 1000px) {
    #regionTable {
        font-size: 18;
    }
} 
@media screen and (max-device-width: 1000px) {
    #regionTable {
        font-size: 30px;
    }
}

.numeric {
    color: #000000;
}

.mainColumn>a>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}